h1, h2 {
    text-align: center;
}
h2 {
    margin: 2rem 0;
}

a {
    text-decoration: none;
    color: #333;
}

.box {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: auto;
    margin-top: 4rem;
    padding: 4rem;
    align-items: center;
    box-shadow: 0 0 1rem 0rem #ccc;
    border-radius: 1rem;
    transition: 0s box-shadow;
    transition-duration: 0.5s;
    position: relative;
}

.box:hover {
    box-shadow: 0 0 1.5rem 0.5rem #ccc;
    transition-duration: 0.5s;
}

.ribbon {
    position: absolute;
    right: -5px; top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px; height: 75px;
    text-align: right;
}
.ribbon span {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#0287C9 0%, #609FC9 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px; right: -21px;
}
.ribbon span::before {
    content: "";
    position: absolute; left: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid #609FC9;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #609FC9;
}
.ribbon span::after {
    content: "";
    position: absolute; right: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #609FC9;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #609FC9;
}